:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #004a8f;
  padding: 10px 0;
  z-index: 1000;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #fff;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #969696;
}

.loader {
  margin: 20px auto;
}

.error-message {
  color: red;
  margin: 20px 0;
}

.load-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}